body, ul{
    margin:0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    background: rgba(0, 0, 0, 0.301);
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

#headerm {
    background: silver;
    box-sizing: border-box;
    height: 70px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    display: block;
    visibility: hidden;
    overflow-y: hidden;
    list-style: none;
    position: absolute;
    width: 20%;
    top: 70px;
    right: 0px;
    background:silver ;
    height: 0px;
    transition: .5s;
    gap: 8px;
    z-index: 10000;
}

#menu a{
    display:block;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}

#navm.ativo #menu{
    visibility: visible;
    height: calc(50vh - 70px);
    overflow-y: auto;
}

#acaobotao{
    display: flex ;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    gap: 8px ;
    background: none;
    cursor: pointer;
}

#acaobotao:hover{
    color: rgba(0, 0, 0, 0.302);
}

#icon{
    cursor: pointer;
    width: 20px;
    border-top: 2px solid;
}

#icon::after, #icon::before{
    content: '';
    display: block;
    margin-top: 5px;
    cursor: pointer;
    width: 20px;
    border-top: 2px solid;
    transition: .3s;
}

#navm.ativo #icon{
    border-top-color: transparent;
}

#navm.ativo #icon::before{
    content: '∑';
    height: 10px;
    color: aquamarine;
    margin-top: -6px;
    border-top-color: transparent;
    transform: rotate(360deg);
}

#navm.ativo #icon::after{
    border-top-color: transparent;
}

/*parte mobile*/
@media (max-width: 600px){
    #headerm {
        background: silver;
        box-sizing: border-box;
        height: 70px;
        padding: 0px;
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    #logo {
        font-size: 24px;
        font-weight: bold;
        padding: 16px;
    }
    
    #menu{
        display: block;
        visibility: hidden;
        overflow-x: hidden;
        position: absolute;
        top: 70px;
        left: 0px;
        background:silver ;
        width: 0px;
        transition: .5s;
        gap: 8px;
        z-index: 10000;
    }



    #navm.ativo #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        width: 30vh;
        overflow-x: auto;
    }

    #acaobotao{
        display: flex;
        padding: 8px 16px;
        font-size: 16px;
        gap: 8px ;
        background: none;
        cursor: pointer;
    }
    
    #acaobotao:hover{
        color: rgba(0, 0, 0, 0.302);
    }
}